@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'montserrat';
  src: url('../public/fonts/montserrat/Montserrat-Regular.ttf')
    format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'roboto';
  src: url('../public/fonts/roboto/Roboto-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'ethnocentric';
  src: url('../public/fonts/ethnocentric/ethnocentric.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@layer base {
  html {
    scroll-behavior: smooth;
  }
  ::selection {
    color: rgb(255, 255, 255);
    background: rgb(77, 77, 255);
  }
}

.markdown p {
  @apply my-4;
}

.markdown h1 {
  @apply my-2 text-2xl font-semibold md:my-4;
}

.markdown h2 {
  @apply my-2 text-xl font-medium md:my-4;
}

.markdown h3 {
  @apply my-2 text-lg font-medium md:my-4;
}

.markdown a {
  @apply break-words font-medium text-primary-400 underline dark:text-secondary-400;
}

.markdown table {
  @apply w-full text-left text-xs sm:text-sm md:text-base;
}

.markdown img {
  @apply mx-auto w-3/4;
}

.markdown pre {
  @apply flex max-w-[85vw]  overflow-x-auto rounded-xl py-4 text-sm dark:bg-[#2d2d2d];
}
