@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'montserrat';
  src: url('../public/fonts/montserrat/Montserrat-Regular.ttf')
    format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'roboto';
  src: url('../public/fonts/roboto/Roboto-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'ethnocentric';
  src: url('../public/fonts/ethnocentric/ethnocentric.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@layer base {
  html {
    scroll-behavior: smooth;
  }
  ::selection {
    color: rgb(255, 255, 255);
    background: rgb(77, 77, 255);
  }
}
